* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  color: #667;
  margin: 0;
  padding: 0;
  min-height: 100%;
  font: normal 1.4rem/1.5 "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 200;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin: 1rem 0;
}

p,
li,
span,
input,
textarea,
select,
button {
  font-size: 1.6rem;
}

.Button {
  background: transparent;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.6rem;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  transition: 0.2s background-color ease, 0.2s border-color ease;
}

.Button--primary {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #14509f;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  color: #14509f;
  display: inline-block;
  padding: 0.5rem;
}

.Button--primary:hover,
.Button--primary:focus {
  background-color: rgba(255, 255, 255, 0.8);
  color: #0b1b36;
  border-color: #0b1b36;
}

.Empty,
.Error {
  font-size: 1.6rem;
  padding: 25vh 0;
  text-align: center;
}

.Spinner,
.Spinner:before,
.Spinner:after {
  border-radius: 50%;
  width: 1.4em;
  height: 1.4em;
  animation-fill-mode: both;
  animation: load 1.8s infinite ease-in-out;
}
.Spinner {
  color: #8b5e3c;
  font-size: 10px;
  margin: 21px auto 63px auto;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.Spinner:before,
.Spinner:after {
  content: "";
  position: absolute;
  top: 0;
}
.Spinner:before {
  left: -2.1em;
  animation-delay: -0.32s;
}
.Spinner:after {
  left: 2.1em;
}

.Main-canvas {
  display: block;
  height: 100vh;
  margin: 0 auto;
  object-fit: cover;
  width: 100%;
}

.Main-video {
  display: none;
  transform: scaleX(-1);
}

.Main-cameraSwitch {
  bottom: 3vh;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  z-index: 100;
}

.Main-cameraIcon {
  height: 32px;
  vertical-align: middle;
  width: 32px;
}

.is-hidden {
  display: none;
}

@keyframes load {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
